<!DOCTYPE html>
<html lang="en" style="height: 100vh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Approval Sheet</title>
    <style>
      body {
        font-family: "Roboto", sans-serif;
        color: #000;
        background-color: #fff;
        margin: 0 auto;
        padding: 0;
        width: 595px;
        height: 842px;
      }

      p {
        margin: 0;
      }

      a {
        text-decoration: none;
        color: #07075d;
      }

      .header {
        font-size: 14px;
      }

      .f12 {
        font-size: 12px;
      }

      .f4 {
        font-size: 4px;
      }

      .f700 {
        font-weight: 700;
      }

      .qr-img {
        width: 97px;
        height: 97px;
      }

      .qr-code {
        width: 97px;
        height: 97px;
      }

      .qr-img svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      table {
        width: 100%;
        background-color: #ffffff;
        border-collapse: collapse;
        color: #000000;
        margin-bottom: 32px;
        border: 1px solid #000000;
        font-size: 12px;
      }

      table td,
      table th {
        border: 1px solid #000000;
        padding: 8px;
        text-align: inherit;
      }

      table thead {
        background-color: #ffffff;
      }

      .row {
        margin-bottom: 12px;
      }
      .col {
        min-width: 140px;
        max-width: 140px;
      }

      .date_col {
        min-width: 140px;
        max-width: 140px;
      }

      .tables__header {
        color: #000000;
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0 9px 0;
      }

      main {
        padding: 50px 0;
      }

      @media print {
        .table {
          page-break-inside: avoid;
        }
      }

      @page {
        margin-bottom: 150px;
      }
    </style>
  </head>
  <body style="font-family: 'Roboto', sans-serif">
    <main style="font-family: 'Roboto', sans-serif">
      <h1 class="f700" style="font-size: 25px">Ход исполнения</h1>

      <!--   Данные документа   -->
      <div class="header">
        {{if eq .GenerateCard false}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Наименование</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.Name}}
            </p>
          </div>
        </div>

        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Содержание</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.description}}
            </p>
          </div>
        </div>

        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Тип документа</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.DocType}}
            </p>
          </div>
        </div>
        {{end}} {{if .OutgoingNumber}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Исх. номер</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.OutgoingNumber}}
            </p>
          </div>
        </div>
        {{end}}

        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Рег. номер</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{if .Number}} {{.Number}} {{else}} б\н {{end}}
            </p>
          </div>
        </div>

        {{if .ReceivingDate}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Дата получения</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.ReceivingDate.Format "02.01.2006"}}
            </p>
          </div>
        </div>
        {{end}} {{if .SenderReceiver.Name}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            {{if eq .SenderReceiver.Code "sender"}}
            <p class="f700 col" style="display: inline-block">Отправитель</p>
            {{else}}
            <p class="f700 col" style="display: inline-block">Получатель</p>
            {{end}}
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.SenderReceiver.Name}}
            </p>
          </div>
        </div>
        {{end}} {{if .ApprovalAuthority.Name}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">
              Орган утверждения
            </p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.ApprovalAuthority.Name}}
            </p>
          </div>
        </div>
        {{end}} {{if eq .Group.Code "VND"}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Владелец</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.Depart.Name}}
            </p>
          </div>
        </div>
        {{end}} {{if .ConfirmDate}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Дата утверд</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.ConfirmDate.Format "02.01.2006"}}
            </p>
          </div>
        </div>
        {{end}} {{if .UpdatePeriod.Name}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Период. обн.</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.UpdatePeriod.Name}}
            </p>
          </div>
        </div>
        {{end}}

        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Инициатор</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.Creator}}
            </p>
          </div>
        </div>

        {{if .ConfStamp.Name}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Конф.</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.ConfStamp.Name}}
            </p>
          </div>
        </div>
        {{end}} {{if .ConfBasis.Name}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">
              Основание конф.
            </p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.ConfBasis.Name}}
            </p>
          </div>
        </div>
        {{end}} {{if .Case.Name}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Дело</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.Case.Name}}
            </p>
          </div>
        </div>
        {{end}} {{if .StorageLocation}}
        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Место хранения</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.StorageLocation}}
            </p>
          </div>
        </div>
        {{end}}

        <div class="row" style="display: inline-block; margin: 0">
          <div style="display: inline-block; margin: 0">
            <p class="f700 col" style="display: inline-block">Дата начала</p>
            <p style="font-family: 'Roboto', sans-serif; display: inline-block">
              {{.CreatedAt.Format "02.01.2006"}}
            </p>
          </div>
          <div style="display: inline-block; margin: 0">
            <p class="f700 col date_col" style="display: inline-block">
              Дата завершения
            </p>
            <p style="display: inline-block">
              {{.Deadline.Format "02.01.2006"}}
            </p>
          </div>
        </div>
      </div>

      <!--   Данные хода исполнения   -->
      {{range .RouterData}}

      <div class="table">
        <div class="tables__header">{{.Action.Name}}</div>

        <table>
          <thead>
            <tr>
              <th>Участник</th>
              <th>Комментарий</th>
              <th>Дата</th>
              <th style="width: 115px">Подпись</th>
            </tr>
          </thead>

          <tbody>
            {{range .Participants}}
            <tr>
              <td>{{.Data.Name}}</td>
              <td>{{.Decision.Comment}}</td>
              <td>{{.Decision.Date}}</td>

              {{if .Decision.ByEDS}}

              <td>
                <div class="qr-img">
                  <img
                    class="qr-code"
                    src="data:image/png;base64, {{.Decision.Result}}"
                  />
                </div>
              </td>

              {{else}}

              <td>{{.Decision.Result}}</td>

              {{end}}
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>

      {{end}}

      <!--   Список всех QR   -->
      <
      <div class="footer df" style="display: inline-block; flex-wrap: wrap">
        <div class="df" style="display: inline-block; margin: 0 20px 20px 0">
          <div style="display: inline-block; margin: 0 10px 10px 0">
            <div>sdfd</div>
          </div>
          <div style="display: inline-block; margin-top: 10px">
            <p class="f4">Мельникова Арина Тимофеевна</p>
            <p class="f4">900213695123</p>
          </div>
        </div>

        <div class="df" style="display: inline-block; margin: 0 20px 20px 0">
          <div style="display: inline-block; margin: 0 10px 10px 0">
            <div>sdfd</div>
          </div>
          <div style="display: inline-block; margin-top: 10px">
            <p class="f4">Мельникова Арина Тимофеевна</p>
            <p class="f4">900213695123</p>
          </div>
        </div>

        <div class="df" style="display: inline-block; margin: 0 20px 20px 0">
          <div style="display: inline-block; margin: 0 10px 10px 0">
            <div>sdfd</div>
          </div>
          <div style="display: inline-block; margin-top: 10px">
            <p class="f4">Мельникова Арина Тимофеевна</p>
            <p class="f4">900213695123</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
